/build/
/phpunit.xml
/app/config/parameters.yml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/


# dossier de configuration IDE pour le projet courant
.idea

# les fichiers du repertoire web sont censés être publiés
# nous allons ignorer les dossiers js, css et font
/web/ajax
/web/data
/web/img
/web/php
/web/sound
/web/xml
/web/js
/web/css
/web/fonts
/web/intl-tel-input/
HTML_Full_Version/

composer.json
composer.lock
